<%- include("partials/header") %>
	<h1>List of Our Games: </h1>

	<div class="row">
		<% for(i=0;i<gameslist.length;i++) { %>
		<div class="col-md-3">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="images/empty.svg" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title"><%= gameslist[i].title %></h5>
			    <p class="card-text">Developer: <%= gameslist[i].creator %></p>
			    <a href="/game/<%= gameslist[i].title %>/<%= gameslist[i].creator %>/<%= gameslist[i].width %>/<%= gameslist[i].height %>/<%= gameslist[i].fileName %>" class="btn btn-primary">Play Game</a>
			  </div>
			</div>
		</div>
		<% } %>
	</div>


<%- include("partials/footer") %>