<%- include("partials/header") %>

<h1>The Pictures on Page <%= pageNumber %></h1>
<div class="row">
<% for(let i=0;i<picData.results.length;i++) { %>
	<div style="border: 2px solid black; width: 290px; background-color: <%= picData.results[i].color %>; color: #fff">
		<img src="<%= picData.results[i].urls.small %>" style="width: 286px; height: 180px;">
		<p>By. <%= picData.results[i].user.name %> on <%= picData.results[i].created_at %></p>
		<p>Dimensions: <%= picData.results[i].width %> X <%= picData.results[i].height %></p>
		<p>Likes: <%= picData.results[i].likes %></p>
	</div>
<% } %>
</div>

<%- include("partials/footer") %>